<div class="container"> 

   

    <div class="jumbotron">
      <h1>Bienvenido a la sección de preguntas frecuentes!</h1>
      <p>En el caso de no encontrar la respuesta a tu pregunta por favor
        comunicate a programas.smartsoft@gmail.com. Te responderemos a la brevedad.
      </p>
    
    </div>

  

  
<!--   <button class="accordion">Section 1</button>
  <div class="panel">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  
  <button class="accordion">Section 2</button>
  <div class="panel">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div> -->

  <!-- <mat-faq [faqList]="list"></mat-faq> -->


</div>

