
  <div class="container">
  
  
  <div  class="jumbotron">
  
      <h2>PREGUNTAS FRECUENTES SMARTSOFT</h2>
  </div>
  
      
  
  
  <!-- Bootstrap FAQ - START -->
  <div class="container">
      <br />
      <br />
      <br />
  
      <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          En esta sección encontraras las preguntas que los clientes mas frecuentemente realizan sobre <strong>SMARTSOFT</strong>. En el caso 
          de no encontrar la respuesta a tu pregunta, por favor Contactanos!
      </div>
  
      <br />
  
      <div class="panel-group" id="accordion">
          <div class="faqHeader">Preguntas Generales</div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Que es SmartSoft?</a>
                  </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                  <div class="panel-body">
                      SmartSoft es una empresa de desarrollo de Software, que se dedica a realizar programas tanto de escritorio para PC, como desarrollos Web. 
                      SmartSoft está enfocado en el desarrollo de programas inteligentes, haciendo que pequeñas y medianas empresas puedan acceder con un bajo costo, 
                      a programas de alta sofisticación.Los programas de SmartSoft cumplen con altos estandares de calidad.
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Que programas tiene SmartSoft?</a>
                  </h4>
              </div>
              <div id="collapseTen" class="panel-collapse collapse">
                  <div class="panel-body">
                      Su principal programa es SMS SENDER que sirve para enviar mensajes SMS mediante cualquier celular que disponga Android. 
                      También se dispone la versión SMS MODEM USB 3G, que utiliza un modem 3G para hacer envíos de mensajes. 
                      Se dispone también de una versión para hacer envíos de WhatsApp. 
                      Otro programa es GPLUS, que sirve para la gestión de comercios. 
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Que es SMS SENDER?</a>
                  </h4>
              </div>
              <div id="collapseEleven" class="panel-collapse collapse">
                  <div class="panel-body">
                      SMS SENDER es un programa de escritorio, que permite el envío automático de mensajes de texto(SMS). 
                      Es muy sencillo de usar, y se puede usar cualquier teléfono que tenga Android. 
                      Solo tienes que vincularlo con tu teléfono y puedes hacer los envíos que necesites.
                  </div>
              </div>
          </div>
          
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEighteen">Para que sirve SMS SENDER?</a>
                  </h4>
              </div>
              <div id="collapseEighteen" class="panel-collapse collapse">
                  <div class="panel-body">
                      Sirve para enviar mensajes automáticos SMS a todos tus contactos, pueden ser recordatorios, publicidad, cobranza, etc.
                  </div>
              </div>
          </div>
  
  
  
          <div class="faqHeader">SMS SENDER</div>

          <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseR">Que requisitos tiene SMS SENDER?</a>
                </h4>
            </div>
            <div id="collapseR" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>Disponer de una PC con el sistema operativo Windows 7 en adelante. </li>
                        <li>Telefono celular con sistema operativo Android version 11 en adelante. </li>
                        <li>Paquete de mensajes SMS de la operadora de telefono.</li>
                    </ul>
                    
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFun">Como funciona SMS SENDER?</a>
                </h4>
            </div>
            <div id="collapseFun" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul>
                        <li>El programa usa su celular como medio para poder enviar mensajes de texto. Por lo tanto, se necesita establecer esa conexión.</li>
                        <li>Desde aquí puede ver como se realiza el paso a paso <a href="https://youtu.be/2aASWUlN2_Y"> Tutorial</a> </li>
                        
                    </ul>
                    
                </div>
            </div>
        </div>


          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Donde encuentro la demo de SMS SENDER?</a>
                  </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                  <div class="panel-body">
                      La demo la puedes descargar desde este link: 
                      <a href="https://bit.ly/3apuqa8">SMS SENDER</a>
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Que limitaciones tiene la demo de SMS SENDER?</a>
                  </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                  <div class="panel-body">
                  La demo de SMS SENDER puedes probar todas las características del programa, la única restricción que dispones, es que puedes enviar hasta 250 mensajes de texto (SMS). 
                  Con esta cantidad de mensajes puedas probar todas las características del programa.
                 </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Cuanto es el costo de la licencia definitiva de SMS SENDER?</a>
                  </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse">
                  <div class="panel-body">
                      La licencia definitiva es de por vida y tiene un costo de $80 dolares. 
                      Incluye soporte y actualizaciones automáticas. 
                      La licencia es por PC. 
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Que sucede si quiero cambiar la Licencia de PC?</a>
                  </h4>
              </div>
              <div id="collapseSix" class="panel-collapse collapse">
                  <div class="panel-body">
                      Como ya dijimos las licencias son por Computadora, en el caso de querer cambiar de PC, solo tienes que avisar
                      al administrador, se te reinica la licencia para que puedas hacer el cambio correspondiente.
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Cuales son los medios de pago?</a>
                  </h4>
              </div>
              <div id="collapseEight" class="panel-collapse collapse">
                  <div class="panel-body">
                      Puedes abonar SMS SENDER mediante PayPal, Western Union u Criptomonedas Nos solicitas que necesitas el programa, y te enviamos el cupón al mail. Una vez abonado, te daremos las credenciales definitivas.
                      
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Hay reembolso en el caso de no gustarme el programa?</a>
                  </h4>
              </div>
              <div id="collapseNine" class="panel-collapse collapse">
                  <div class="panel-body">
                      Antes de comprar el Software puedes descargar y utilizar la versión Demo, donde puedes probar todas las características del Software y evaluar si cumple o no con los requerimientos de tu empresa. 
                      Con esto puedes evaluar si decides o no comprar el programa, ya que una vez que realizes la compra no tiene reembolso. 
                  </div>
              </div>
          </div>
  
          <div class="faqHeader">Funcionamiento</div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">En que sistemas operativos funciona?</a>
                  </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse">
                  <div class="panel-body">
                    Funciona en versiones Windows 7 en adelante. Y en celulares que dispongan del Sistema Operativo de Android.
                  </div>
              </div>
          </div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">En qué países funciona SMS SENDER?</a>
                  </h4>
              </div>
              <div id="collapseSeven" class="panel-collapse collapse">
                  <div class="panel-body">
                      Funciona en todos los países del mundo, excepto China, Rusia y Cuba.
                  </div>
              </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven1">Tiene soporte?</a>
                </h4>
            </div>
            <div id="collapseSeven1" class="panel-collapse collapse">
                <div class="panel-body">
                    Si el soporte es gratuito y también se dispone de actualizaciones automáticas.
                </div>
            </div>
        </div>
  
  
     
  
          <div class="faqHeader">Contacto</div>
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h4 class="panel-title">
                      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsetweenty">Donde me puedo contactar con SmartSoft?</a>
                  </h4>
              </div>
              <div id="collapsetweenty" class="panel-collapse collapse">
                  <div class="panel-body">
                      Lo puedes realizar mediante el mail: programas.smartsoft@gmail.com, o mediante WhatsApp al número: +5493517418987
                  </div>
              </div>
          </div>
  
      </div>
  </div>
  

  
  <!-- Bootstrap FAQ - END -->
  
  </div>
  

