<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>SMS SENDER</h1>
    <p>Instrucciones para descargar el programa.</p>
  </div>
</div>

<div class="container">

  <div id="descarga" style="border:1px solid #000; padding: 10px;">

    <p>Hola, en el Link siguiente puedes descargar el programa : <i class="fa fa-download"></i> <a target="_blank"
        (click)="click('google')" href="https://bit.ly/3apuqa8">SMS SENDER</a>

    <p>Sitio de descarga Alternativo : <i class="fa fa-download"></i> <a target="_blank" (click)="click('oneDrive')"
        href="https://bit.ly/sendersms">SMS SENDER</a>


      <img src="/assets/chrome.jpg" alt="chrome descarga">
    <div style="text-align: justify;">
      Cuando se descargan algunos archivos con el navegador Google Chrome,
      puede aparecer el siguiente mensaje de advertencia:&nbsp;
      'No es un archivo que se descargue habitualmente y puede ser peligroso'.
      Para aceptar la descarga damos click en la flecha que se encuentra al lado del mensaje, se despliega el menú y
      elegimos guardar.
      Inmediatamente se guardará el archivo y lo buscamos en su ubicación. <br />
      <br />


    </div>
  </div>




  <div id="seguridad" style="border:1px solid #000; padding: 10px; margin-top: 10px; margin-bottom: 10px;">

    <p>El programa es totalmente seguro, pero puede que algunos antivirus detecten a
      este como archivo peligroso, o el mismo Windows Defender va indicar que no se reconoce
      como una aplicacion legitima, por lo cual abajo deberas hacer click en ejecutar de todos modos.
      En el caso que te bloquee el instalador, deberás desactivar el antivirus. </p>
  </div>










  <div class="alert alert-danger" role="alert">
    <p> <strong>Cuando abras el programa por primera vez, deberas registrar un usuario, haciendo click en en boton
        registrar,
        asegúrate de estar conectado a Internet.</strong> </p>
    <!--  
    <p>Credenciales: </p>
 
 <p>Usuario: <b>{{user}}</b>  </p>
 <p>Contraseña: <b>{{user}}</b> </p>  -->
  </div>


  <div id="contacto" style="border:1px solid #000; padding: 10px;">


    <p>Luego se activara el sistema, y ya lo puedes usar con normalidad. </p>

    <p>En la licencia demo puedes enviar hasta 200 mensajes SMS y probar todas las funcionalidades. </p>

    <p>Si tenes alguna duda, con gusto te ayudaremos tanto en instalación como en la capacitación que podríamos
      coordinar un día mediante Skype o Whatsapp y Teamviewer por asistencia remota...</p>

    <p>Nuestro mail de contacto es: <strong>programas.smartsoft@gmail.com</strong></p>

    <p>Muchas Gracias por confiar en nosotros! </p>

    <p>Saludos, te desea el equipo de SmartSoft</p>

  </div>

</div>