<!-- <app-header (clickcontact)="contacto(contact)" ></app-header> -->

<!-- ANNOUNCEMENT BANNER: MIGRATION TO CHROME EXTENSION -->
<!-- ANNOUNCEMENT BANNER: MIGRATION TO CHROME EXTENSION -->
<div class="w3-panel w3-amber w3-card-4 w3-center w3-padding-24">
  <span onclick="this.parentElement.style.display='none'" class="w3-button w3-large w3-display-topright">&times;</span>
  <h3><i class="fa fa-info-circle"></i> Anuncio Importante</h3>
  <p class="w3-large">Nuestra aplicación de escritorio ha migrado a una <strong>extensión de Chrome</strong> para facilitar su uso e instalación.</p>
 
  
    <!-- Tutorial and Support Links Section -->
    <div class="w3-margin-top w3-medium">
      <p style="margin: 8px 0;">
        <span>Si necesita ver un tutorial de cómo usar la extensión, <strong><a href="https://youtu.be/p8nXupDR6F8" target="_blank" class="w3-text-black">haga clic aquí</a></strong>.</span>
        <br>
        <span>Para ayuda o alguna consulta, contáctenos por <strong><a href="https://wa.me/5493517418987" target="_blank" class="w3-text-black">WhatsApp <i class="fa fa-whatsapp"></i></a></strong>.</span>
      </p>
    </div>
    <p>Te invitamos a descargar la nueva versión y disfrutar de una experiencia mejorada.</p>
  <!-- Main Call to Action Button -->
  <a href="https://chromewebstore.google.com/detail/ccbbbpipbalhchbmhjpeboonfbednafp?utm_source=item-share-cb" target="_blank" class="w3-button w3-black w3-round w3-margin-top">
    <i class="fa fa-chrome"></i> Ir a la Chrome Web Store
  </a>



</div>

<header class="w3-display-container w3-center">
  
  <div class="w3-display-container" style="width: 100%; top:40%">
    <div class="w3-container w3-center w3-padding-16 w3-text-black">
      <h2 class="w3-large">Bienvenidos a SmartSoft</h2>
    </div>
  
    <button class="w3-button w3-block w3-green w3-hide-large w3-hide-medium" (click)="irDescarga()">Download<i class="fa fa-windows"></i></button>
    
      <img title="Muy fácil de instalar: gratis para probar!"  class="w3-image" src="/assets/sms1.jpg" alt="Image 1" style="min-width:100px" width="100%" height="1000">
      <div class="w3-display-left w3-padding w3-hide-small" style="top:40%; width:35%">
        <div class="w3-black w3-opacity w3-hover-opacity-off w3-padding-large w3-round-large">
          <h1 class="w3-xlarge">Envía SMS automáticos con esta App.</h1>
          <hr class="w3-opacity">
          <p class="w3-large">Desde su PC sin pagos mensuales ni compras mínimas, envié  
            SMS ilimitados con los paquetes de Mensajes que te ofrece tu operadora. ¿Porque
            pagar a terceros por el envío de SMS si puedes hacerlo desde tu PC a un costo
            insignificante?.
            </p>
          <p><button class="w3-button w3-block w3-green w3-round" (click)="irDescarga()">Download Extension<i class="fa fa-windows"></i></button></p>
        </div>
      </div>

      <div class="w3-display-right w3-padding w3-hide-small" style="top:40%; width: 60%; margin-right: 20px;">
        <div class="w3-black w3-hover-opacity-off w3-padding-large w3-round-large">
          <h1 class="w3-xlarge">TABLA COMPARATIVA.</h1>
          <hr class="w3-opacity">
          <p class="w3-large">Dinero que puedes ahorrar usando el programa SMSSENDER de SmartSoft</p>
          
          <table style="width: 100%; border-collapse: collapse; color: whitesmoke;">
            <tr>
              <th style="width: 25%; border: 1px solid whitesmoke;">Cantidad Mensajes</th>
              <th style="width: 25%; border: 1px solid whitesmoke;">Precio x Mensaje (USD)</th>
              <th style="width: 25%; border: 1px solid whitesmoke;">TWILO</th>
              <th style="width: 25%; border: 1px solid whitesmoke;">SMARTSOFT</th>
            </tr>
            <tr>
              <td style="border: 1px solid whitesmoke;">5000</td>
              <td style="border: 1px solid whitesmoke;">0.1079 USD</td>
              <td style="border: 1px solid whitesmoke;">$540</td>
              <td style="border: 1px solid whitesmoke;"><i class="fa fa-check">$60</i></td>
            </tr>
            <tr>
              <td style="border: 1px solid whitesmoke;">10000</td>
              <td style="border: 1px solid whitesmoke;">0.1079 USD</td>
              <td style="border: 1px solid whitesmoke;">$1079</td>
              <td style="border: 1px solid whitesmoke;"><i class="fa fa-check">$60</i></td>
            </tr>
            <tr>
              <td style="border: 1px solid whitesmoke;">50000</td>
              <td style="border: 1px solid whitesmoke;">0.1057 USD</td>
              <td style="border: 1px solid whitesmoke;">$5285</td>
              <td style="border: 1px solid whitesmoke;"><i class="fa fa-check">$60</i></td>
            </tr>
            <tr>
              <td style="border: 1px solid whitesmoke;">100000</td>
              <td style="border: 1px solid whitesmoke;">0.1014 USD</td>
              <td style="border: 1px solid whitesmoke;">$10140</td>
              <td style="border: 1px solid whitesmoke;"><i class="fa fa-check">$60</i></td>
            </tr>
          </table>
        </div>
      </div>

  <!--     <div class="w3-display-right" style=" top:20%; width: 60%; margin-right: 20px;">
        <div class="w3-display-left w3-padding w3-hide-small">
          <h1 class="w3-xlarge">Envía SMS automáticos con esta App.</h1>
            <h3 style="color: black;">Dinero que tú puedes ahorrar usando SmartSoft</h3>
            <table style="width: 100%; border-collapse: collapse; color: black;">
                <tr>
                    <th style="width: 25%; border: 1px solid black;">Cantidad Mensajes</th>
                    <th style="width: 25%; border: 1px solid black;">Precio x Mensaje (USD)</th>
                    <th style="width: 25%; border: 1px solid black;">TWILO</th>
                    <th style="width: 25%; border: 1px solid black;">SMARTSOFT</th>
                </tr>
                <tr>
                    <td style="border: 1px solid black;">5000</td>
                    <td style="border: 1px solid black;">0.1079 USD</td>
                    <td style="border: 1px solid black;">$540</td>
                    <td style="border: 1px solid black;"><i class="fa fa-check">$65</i></td>
                </tr>
                <tr>
                    <td style="border: 1px solid black;">10000</td>
                    <td style="border: 1px solid black;">0.1079 USD</td>
                    <td style="border: 1px solid black;">$1079</td>
                    <td style="border: 1px solid black;"><i class="fa fa-check">$65</i></td>
                </tr>
                <tr>
                    <td style="border: 1px solid black;">50000</td>
                    <td style="border: 1px solid black;">0.1057 USD</td>
                    <td style="border: 1px solid black;">$5285</td>
                    <td style="border: 1px solid black;"><i class="fa fa-check">$65</i></td>
                </tr>
                <tr>
                    <td style="border: 1px solid black;">100000</td>
                    <td style="border: 1px solid black;">0.1014 USD</td>
                    <td style="border: 1px solid black;">$10140</td>
                    <td style="border: 1px solid black;"><i class="fa fa-check">$65</i></td>
                </tr>
            </table>
        </div>
      </div> -->
   

    </div>

  </header>

  

<!--   <div *ngIf= 'descarga'>
    <app-modal (closed)="onClose($event)"></app-modal>
    </div> -->

    <!-- Clarity Section -->
<div class="w3-padding-64 w3-light-grey" data-aos="fade-left" >
  <div class="w3-row-padding">
    <div class="w3-col l4 m6">
      <img class="w3-image w3-round-large w3-hide-small w3-grayscale" src="/assets/sms2-335x471.png" alt="App" width="335" height="471">
    </div>
    <div class="w3-col l8 m6" data-aos="fade-up">
      <h1 class="w3-jumbo"><b>Potencia tu negocio</b></h1><br>
      <h1 class="w3-xxxlarge w3-text-red"><b>Atrae mas clientes</b></h1> <br>
      <p><span class="w3-xlarge">Revolución en el envío de mensajes.</span> </p> <br>
        <p class="w3-large"> 
          Con este revolucionario sistema, vas a poder estar mas cerca de tus clientes, ofreciendo nuevos productos, recordando citas,y todo lo que se te pueda ocurrir.
          <br>
          El sistema es el mas sencillo y fácil de usar del mercado. También es novedoso y único en su forma de enviar. 
          <br>
          Y posee un ilimitado envio de mensajes de texto(SMS), es decir no tendras restricciones en la cantidad de mensajes que desees enviar.
          <br>
          <strong>No lo pienses más y sumate al éxito.  SmartSoft te acompaña en el camino.</strong>

        </p>
        
      
    </div>
  </div>
</div>


    <!-- The App Section -->
<div class="w3-padding-64 w3-white" data-aos="zoom-in">
  <div class="w3-row-padding">
    <div class="w3-col l8 m6">
      <h1 class="w3-jumbo"><b>SMS SENDER</b></h1> <br>
      <h1 class="w3-xxxlarge w3-text-green"><b>Para que sirve?</b></h1> <br>
      <p><span class="w3-xlarge">Envia mensajes automáticos.</span> </p>  <br>
      <p class="w3-large">
        Es una extensión de Chrome que permite enviar masivamente mensajes de texto(SMS) a todos los contactos que tengas. 
        <br>
        Sirve para diversas aplicaciones como Publicidad, Recordatorios, Ventas, Cobranzas Y mucho más.
        <br>
         Recuerda que necesitas una PC con Windows 7 o Superior, Conexión a Internet y Télefono con Android.</p>
      <button class="w3-button w3-light-grey w3-padding-large w3-section w3-hide-small" (click)="irDescarga()">
        <i class="fa fa-download"></i> Descargar aplicación
      </button>
      <p>Disponible para <i class="fa fa-windows w3-xlarge w3-text-blue"></i></p>
    </div>
    <div class="w3-col l3 m6">
      <img src="/assets/sms335x471.png" class="w3-image w3-right w3-hide-small" width="335" height="471">
      <div class="w3-center w3-hide-large w3-hide-medium">
        <button class="w3-button w3-block w3-padding-large" (click)="irDescarga()">
          <i class="fa fa-download"></i> Descargar aplicación
        </button>
        <img src="/assets/sms335x471.png" class="w3-image w3-margin-top" width="335" height="471">
      </div>
    </div>
  </div>
</div>







<!-- Pricing Section -->
<div class="w3-padding-64  w3-center w3-light-grey">
  <h1 class="w3-jumbo"><b>Precios</b></h1>
  <br>
  <p class="w3-large">El precio mas conveniente del mercado. Mensajes Ilimitados, soporte y actualizaciones.</p>
  <div class="w3-row-padding" style="margin-top:64px">
<!--     <div class="w3-half w3-section">
     
        <ul class="w3-ul w3-card w3-hover-shadow">
          <li class="w3-red w3-xlarge w3-padding-32">Licencia Anual</li>
          <li class="w3-padding-16"><b>Sin límites de mensajes.</b> </li>
          <li class="w3-padding-16"><b>Actualizaciones gratuitas.</b> </li>
          <li class="w3-padding-16"><b>Soporte Gratuito.</b></li>
          <li class="w3-padding-16"><b>Renovación anual por $20 dólares.</b></li>          
          <li class="w3-padding-16">
            <h2 class="w3-opacity">$ 60 Dólares Americanos.</h2>
          </li>
          <li class="w3-light-grey w3-padding-24">
            <button class="w3-button w3-black w3-padding-large" (click)="irDescarga()"> <i class="fa fa-download"></i> Download</button>
          </li>
        </ul>
      
    </div> -->
    <div  class="w3-quarter w3-section" ></div>
    <div class="w3-half w3-section" style="margin: 0 auto;">
      <ul class="w3-ul w3-card w3-hover-shadow">
        <li class="w3-red w3-xlarge w3-padding-32">Licencia Anual.</li>
        <li class="w3-padding-16"><b>Sin límites de mensajes.</b> </li>
        <li class="w3-padding-16"><b>Actualizaciones.</b> </li>
        <li class="w3-padding-16"><b>Soporte.</b></li>
        <li class="w3-padding-16"><b>Renovación por $20 dolares.</b></li>
        
        
        <li class="w3-padding-16">    
          <h2 class="w3-opacity">$60 Dólares.</h2>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <a href="https://paypal-wcnd.onrender.com/">
            <button class="w3-button w3-black w3-padding-large" > <i class="fa fa-download"></i> Comprar</button>
          </a>
          
        </li>
      </ul>
    </div>
    <div  class="w3-quarter w3-section" ></div>
  </div>
  <br>

    <!-- Calendly inline widget begin -->
<!-- <div class="calendly-inline-widget" data-url="https://calendly.com/programas-smartsoft/30min" style="min-width:320px;height:700px;"></div> -->

<!-- Calendly inline widget end -->




</div>

<div class="w3-padding-64  w3-center w3-white" data-aos="fade-left" >
  <div class="w3-row-padding">
    <h1 class="w3-jumbo"><b>Como uso el programa?</b></h1><br>
  <p class="w3-large">En este video te detallamos como usar el programa.</p>
  
  <div class="videoDiv">

    <div class="iframe-container"> 
    <iframe width="560" height="315" src="https://www.youtube.com/embed/p8nXupDR6F8?si=HwQoPlQOF5XGwuV4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>


</div> 
</div>
</div>



<!-- Container (Contact Section) -->
<div #contact>

<div class="w3-content w3-container w3-padding-64" id="contact" >
  <h3 class="w3-center">SmarSoft SMS Sender</h3>
  <p class="w3-center"><em>Cualquier consulta que tengas, estamos a tu disposición!</em></p>

  <div class="w3-row w3-padding-32 w3-section">
    <div class="w3-col m4 w3-container">
      <img src="/assets/map.jpg" class="w3-image w3-round" style="width:100%">
    </div>
    
    <div class="w3-col m8 w3-panel">
      <div class="w3-large w3-margin-bottom">
        <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i>Mundo<br>
        <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: +5493517418987<br>
        <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: programas.smartsoft@gmail.com<br>
      </div>
  
    </div>
  </div>
</div>
</div>

 <a  class="whats-app" href="https://wa.me/5493517418987" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
</a>