<!-- Modal -->
<div id="download" class="w3-modal w3-animate-opacity">
    <div class="w3-modal-content" style="padding:32px">
      <div class="w3-container w3-white">
        <i (click)="closes(true)"  class="fa fa-remove w3-xlarge w3-button w3-transparent w3-right w3-xlarge"></i>
        <h2 class="w3-wide">DOWNLOAD</h2>
        <p>Descarga desde aquí la APP.</p>
        <i class="fa fa-windows w3-large"></i>
        
        <form #descargarForm="ngForm" (ngSubmit)="onSubmit()">

       <!--    <input type="text" class="form-control" id="name" required [(ngModel)]="votar.nombre" 
          name="name"
          #name="ngModel">
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          El nombre y el apellido son requeridos.
      </div> -->


        <p><input class="w3-input w3-border" name="nombre" type="text" 
          placeholder="Ingrese Nombre"  [(ngModel)]="cliente.nombre" 
          #nombre="ngModel" required></p>
        <div [hidden]="nombre.valid || nombre.pristine"
        class="w3-panel w3-red">
     Nombre es requerido
   </div>
        <p><input class="w3-input w3-border"  name="apellido" type="text" 
          placeholder="Ingrese Apellido"  [(ngModel)]="cliente.apellido" #apellido="ngModel" required></p>

        <div [hidden]="apellido.valid || apellido.pristine"
        class="w3-panel w3-red">
     Apellido es requerido
   </div>

        <p><input class="w3-input w3-border"  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" type="email" placeholder="Ingrese Email"  [(ngModel)]="cliente.email" #mail="ngModel" required></p>
        <div  *ngIf="mail.invalid && mail.touched"
        class="w3-panel w3-red">
     Email es requerido
   </div>
 <!--   <div class="w3-panel w3-red" *ngIf="mail.errors.pattern">Ingrese un mail valido</div> -->
    
       
        <button type="submit" 
        class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom" 
        [disabled]="!descargarForm.form.valid">Descargar</button>
         </form>
       
      
      </div>
    </div>
  </div>